* {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  font-family: 'Inter', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

:root {
  /* Theme */
  --primary-color: #F55A5A;
  --secondary-color: white;
  --tertiary-color: black;
  --alt-tertiary-color: #b7b7b7;
  /* Size */
  --size-xsmall: 0.8rem;
  --size-small: 1.5rem;
  --size-medium: 2rem;
  --size-large: 2.5rem;
  --size-xlarge: 3rem;
}

section {
  max-width: 700px;
  margin: auto;
  margin-top: 15px;
}

/* NAV */
.navbar {
  height: 75px;
  width: 100%;
  gap: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--primary-color);
  box-shadow: 0px 2px 5px 1px lightgrey;
}
.navbar--logo {
  width: 35px;
  height: 35px;
  display: block;
}
.navbar--h1 {
  font-weight: bold;
  margin: 0;
  padding: 0;
  font-size: var(--size-large);
  color: var(--secondary-color)
}
/* CARD */
.card {
  display: flex;
  flex-direction: column;
  padding: 30px 30px;
}
.card--img {
  border-radius: 12px;
  display: block;
  margin: auto;
  width: 100%;
  max-width: 250px;
  height: auto;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.card-text--wrapper {
  padding: 15px 0;
  display: flex;
  flex-direction: column;
}
.card--loc {
  margin-bottom: 5px;
  font-size: var(--size-small);
  color: var(--primary-color);
}
.card--gmaps {
  display: flex;
  gap: 10px;
  margin-bottom: 5px;
  font-size: var(--size-xsmall);
  color: var(--alt-tertiary-color);
  justify-content: center;
  align-items: center;
}
.card--gmaps > img {
  width: 15px;
  height: 15px;
  display: block;
}
.card--event {
  margin: 5px 0;
  font-size: var(--size-small);
}
.card--date {
  margin-bottom: 5px;
  font-size: var(--size-xsmall);
}
.card--desc {
  font-size: 14px;
  color: var(--tertiary-color);
}

@media screen and (min-width: 700px) {
  .card {
    display: flex;
    flex-direction: row;
  }
  .card-img--wrapper {
    width: 540px;
  }
  .card-text--wrapper {
    padding: 15px 30px;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
  }
  .card--img {
    display: block;
    margin: auto;
    width: 100%;
    max-width: unset;
    height: auto;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
  .card--loc {
    text-align: left;
  }
  .card--header {
    display: flex;
    align-items: baseline;
    gap: 20px;
  }
  .card--desc {
    text-align: left;
  }
}